h1
{
	font-family: calibri;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	color: grey;
	text-decoration: underline;
	text-align: center;
}

p
{
	font-family: verdana;
	
	font-style: italic;
}	

/* text transformation + text shadow */

h1{
	text-transform: uppercase;
	text-shadow: 10px 10px 5px blue;
}

/* text indentation + text color */

p{
	text-indent: 50px;
	color:blue;

}


